{
    "insecure-registries":["{{ host_ip }}"],
    "data-root": "/opt/docker",
    "bip": "192.168.100.1/24",
    "default-address-pools": [{ "base": "192.168.101.0/18", "size": 24 }],
    "log-driver": "json-file",
    "log-opts": {
        "max-size": "25m",
        "max-file": "5",
        "compress": "true"
    }
}